@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

body{
  background-color: skyblue;
}
.timer{
  display: flex;
  margin-top: 240px;
  
  background-color: white;
  width: 600px;
  height: 400px;
  justify-content: center;
}
.app{
  display: flex;
  justify-content: center;
  
}
.timer_inner{
  
  margin-top: 40px;
}
.timer_inner>h1{
   font-size: 55px;
   font-family: 'Roboto Slab', serif;
}
.timer_inner>h2{
  padding-left: 70px;
  font-size: 50px;
}
.btn1{
  width: 100px;
  height: 40px;
  background-color: skyblue;
  /* border-color: white; */
  border-style: none;
  border-radius: 8px;
  color: black;
}

.btn2{
  width: 100px;
  height: 40px;
  background-color: skyblue;
  /* border-color: white; */
  border-style: none;
  border-radius: 8px;
  margin-left: 60px;
  color: black; 
}

